@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --primary-color: rgb(22, 107, 103);
    --secundary-color: rgb(7, 65, 62);
}

* {

    box-sizing: border-box;
    outline: 0;
}

body {
    padding: 0;
    margin: 0;
    background: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form .input, form .label, form .button {
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

form .input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form .button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form .button:hover {
    background: var(--secundary-color);
}

form .button:active {
    background: rgb(35, 129, 109);
}

section div {
    display: flex;
    align-items: center;
}

.apagar, .btn-tarefa {
    height: 30px;
    margin-left: 30px;
    font-size: 10px;
    background: rgb(35, 129, 109);
    color: #fff;
    cursor: pointer;
    border: 1px solid #EEE;
}

.apagar:hover {
    background: black;
    color: white;
    border: 1px solid #EEE;
}

.btn-tarefa:hover {
    background: black;
    color: white;
    border: 1px solid #EEE;
}

@media (max-width: 500px) {
    .container {
    margin: 0 30px;
    }
}
